  #draggable, #draggable2 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px;
	  float: left; 
	  margin: 0 10px 10px 0; 
	  z-index:1; 
	  position: absolute; 
	  overflow: auto; }
#draggable3 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px; 
	  float: left; 
	  margin: 50px 10px 10px 60px; 
	  z-index: 3; 
	  position: absolute; 
	  overflow: auto; }
#draggable4 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px;
	  float: left; 
	  margin: 100px 10px 10px 120px; 
	  z-index: 4; 
	  position: absolute; 
	  overflow: hidden; }
#draggable5 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px; 
	  float: left; 
	  margin: 150px 10px 10px 180px; 
	  z-index: 5; 
	  position: absolute; 
	  overflow-x: hidden;
	  overflow-y: auto; }
#draggable6 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px; 
	  float: left; 
	  margin: 200px 10px 10px 240px; 
	  z-index: 5; 
	  position: absolute; 
	  overflow-x: hidden;
	  overflow-y: auto; }
#draggable p,  #draggable3 p, #draggable4 p, #draggable5 p, #draggable6 p   { 
	  cursor: move !important; 
	  font-size: 16pt !important;
	  text-align: left;
	  background-color: #ddd; }
.ui-widget-header {
	  cursor: move; }


.mobile { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px; 
	  float: left; 
	  margin: 10px 10px 10px 10px; 
	  z-index: 5; 
	  position: relative; 
	  overflow-x: hidden;
	  overflow-y: visible; }

A:link { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:visited { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:active { 
  text-decoration: none;
  font-weight: bold;
  color:#000000; }
A:hover { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }


.inside {
  background: #fff;
  overflow: auto;
  border: 0px;
}

.front{
    z-index:100;
}


h1 {
  font-family: garamond, times new roman, times; 
  color: #ccc; 
  font-size: 40px; 
  text-align: center}

  
h2 {
  font-family: garamond, times new roman, times; 
  color: #bbb; 
  font-size: 20px;
  text-align:center;}

p {
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 16px; }

body
{ background: #FFF;
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 12px; }


table, tr, td {
  background: #FFF;
  font-family: montserrat, open sans, helvetica;
  color: #000;
  border-style: solid; 
  border-color: #000000;
  border-width: 1px; 
  padding: 1cm; }

input, textarea { 
  background: #FFF;
  font-family: montserrat, open sans, helvetica;
  color: #000000;
  border-style: solid; 
  border-color: #000000;
  border-width: 1px;
}


/* photos */
.box {
  background-color: #fff;
  padding: 10px;
  border: 3px solid #000;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 80%;
  left: 50%;
  height: 400px;
  white-space: nowrap;
  position: center;
  overflow-x:scroll;
  overflow-y:hidden;
}



.row {
    float:left;
    border: 1px solid yellow;
    overflow: hidden;
    white-space: nowrap;
    align: top;
}

/* content div */
div.left {
  background-color: #fff;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border: 3px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

section {
  width: 80% }

/*end float*/
section::after {
  content: "";
  display: table;
  clear: both;
}
.clear{
	clear:both;    
}
.footer{
	height:80px;
	background:#ccc;
}

/*stack if small screen*/
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

aside { 
    position: absolute;
    width: 200px; 
    background: #fff; 
    border: 0px  solid #fff; 
    border-radius: 4px; padding: 8px;
    cursor: move;
}


.container {
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  background-color: #FFF;
}

	
	
.refresh {
	position:absolute;
	top: 0px;
	left: 0px;
	font-size:40pt !important;
	background-color: #fff;
	z-index:3000
	}

a:link.refresh {
	font-size:40pt !important;
} 
a:visited.refresh {
	font-size:40pt !important;
}
a:hover.refresh {
	font-size:40pt !important;
}
a:active.refresh {
	font-size:40pt !important;
}
