

A:link { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:visited { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:active { 
  text-decoration: none;
  font-weight: bold;
  color:#000000; }
A:hover { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }

h1 {
  font-family: garamond, times new roman, times; 
  color: #ddd; 
  font-size: 40px; 
  text-align: center}

  
h2 {
  font-family: garamond, times new roman, times; 
  color: #000; 
  font-size: 12px; }

p {
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 10px; }

body
{ background: #FFF;
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 12px; }


table, tr, td {
  background: #FFF;
  font-family: montserrat, open sans, helvetica;
  color: #000;
  border-style: solid; 
  border-color: #000000;
  border-width: 1px; 
  padding: 1cm; }

input, textarea { 
  background: #FFF;
  font-family: montserrat, open sans, helvetica;
  color: #000000;
  border-style: solid; 
  border-color: #000000;
  border-width: 1px;
}



/* photos div */
div.box1 {
  background-color: #fff;
  margin: auto;
  margin-top:50px;
  margin-bottom: 15px;
  border: 3px solid #000;
  width: 80%;
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 13px; 
  text-decoration: none;
  overflow-x: scroll;
}

/* content div */
div.box2 {
  background-color: #fff;
  padding: 15px;
  margin: 15px;
  border: 3px solid #000;
  width: 33%;
  float: left;
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 13px; 
  text-decoration: none;
  overflow-y: scroll;
}

/*end float*/
section::after {
  content: "";
  display: table;
  clear: both;
}

/*stack if small screen*/
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

aside { 
    position: absolute;
    width: 200px; 
    background: #fff; 
    border: 0px  solid #fff; 
    border-radius: 4px; padding: 8px;
    cursor: move;
}


.container {
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  background-color: #FFF;
}
