  #draggable, #draggable2 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px;
	  float: left; 
	  margin: 0 10px 10px 0; 
	  z-index:1; 
	  position: absolute; 
	  overflow: auto; }
#draggable3 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px; 
	  float: left; 
	  margin: 60px 10px 10px 40px; 
	  z-index: 3; 
	  position: absolute; 
	  overflow: auto; }
#draggable4 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px;
	  float: left; 
	  margin: 120px 10px 10px 80px; 
	  z-index: 4; 
	  position: absolute; 
	  overflow: hidden; }
#draggable5 { 
	  width: 600px; 
	  height: 500px; 
	  padding-left: 10px; 
	  padding-right: 10px;
	  padding-top: 0px; 
	  float: left; 
	  margin: 180px 10px 10px 120px; 
	  z-index: 5; 
	  position: absolute; 
	  overflow-x: hidden;
	  overflow-y: auto; }
#draggable p,  #draggable3 p, #draggable4 p, #draggable5 p  { 
	  cursor: move !important; 
	  font-size: 16pt !important;
	  text-align: left;
	  background-color: #ddd; }
.ui-widget-header {
	  cursor: move; }

A:link { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:visited { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }
A:active { 
  text-decoration: none;
  font-weight: bold;
  color:#000000; }
A:hover { 
  text-decoration: none; 
  font-weight: bold;
  color:#000000; }


.inside {
  background: #fff;
  overflow: auto;
  border: 0px;
}

.front{
    z-index:100;
}


h1 {
  font-family: garamond, times new roman, times; 
  color: #eee; 
  font-size: 40px; 
  text-align: center}

  
h2 {
  font-family: garamond, times new roman, times; 
  color: #000; 
  font-size: 12px; }

p {
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 16px; }

body
{ background: #FFF;
  font-family: montserrat, open sans, helvetica; 
  color: #000; 
  font-size: 12px; }


table, tr, td {
  background: #FFF;
  font-family: montserrat, open sans, helvetica;
  color: #000;
  border-style: solid; 
  border-color: #000000;
  border-width: 1px; 
  padding: 1cm; }

input, textarea { 
  background: #FFF;
  font-family: montserrat, open sans, helvetica;
  color: #000000;
  border-style: solid; 
  border-color: #000000;
  border-width: 1px;
}


/* photos */
.box {
  background-color: #fff;
  padding: 10px;
  border: 3px solid #000;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 80%;
  left: 50%;
  height: 400px;
  white-space: nowrap;
  position: center;
  overflow-x:scroll;
  overflow-y:hidden;
}



.row {
    float:left;
    border: 1px solid yellow;
    overflow: hidden;
    white-space: nowrap;
    align: top;
}

/* content div */
div.left {
  background-color: #fff;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border: 3px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

section {
  width: 80% }

/*end float*/
section::after {
  content: "";
  display: table;
  clear: both;
}
.clear{
	clear:both;    
}
.footer{
	height:80px;
	background:#ccc;
}

/*stack if small screen*/
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

aside { 
    position: absolute;
    width: 200px; 
    background: #fff; 
    border: 0px  solid #fff; 
    border-radius: 4px; padding: 8px;
    cursor: move;
}


.container {
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  background-color: #FFF;
}

	
	
.refresh {
	position:absolute;
	top: 0px;
	left: 0px;
	font-family: webdings;
	font-size:40pt;
	background-color: #fff;
	}
	
